In [77]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense,Flatten
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [78]:
data=pd.read_csv('C:\\Users\\pulki\\DeepLearningTutorials\\Customer_Churn_Modelling.csv')

In [79]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [80]:
data.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [81]:
x=data.drop(['RowNumber','CustomerId','Surname','Exited'],axis=1)

In [82]:
y=data['Exited']

In [86]:
x['Geography']=LabelEncoder().fit_transform(x['Geography'])
x['Gender']=LabelEncoder().fit_transform(x['Gender'])

In [87]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=0)

In [88]:
scaler=StandardScaler()
x_train=scaler.fit_transform(x_train)
x_test=scaler.transform(x_test)

In [89]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [90]:
model=Sequential()

In [91]:
model.add(Dense(x_train.shape[1],input_dim=x_train.shape[1],activation='relu'))
model.add(Dense(128,activation='relu'))
model.add(Dense(1,activation='sigmoid'))

In [92]:
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [93]:
model.fit(x_train,y_train,epochs=20,batch_size=10)

Epoch 1/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4696 - accuracy: 0.7950
Epoch 2/20
800/800 [==============================] - 1s 1ms/step - loss: 0.4049 - accuracy: 0.8274
Epoch 3/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3719 - accuracy: 0.8471
Epoch 4/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3571 - accuracy: 0.8564
Epoch 5/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3516 - accuracy: 0.8549
Epoch 6/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3464 - accuracy: 0.8591
Epoch 7/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3419 - accuracy: 0.8615
Epoch 8/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3399 - accuracy: 0.8625
Epoch 9/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3373 - accuracy: 0.8641
Epoch 10/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3364 - accuracy: 0.8621
Epoch 11/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3349 - accuracy: 0.8630
Epoch 12/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3332 - accuracy: 0.8637
Epoch 13/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3317 - accuracy: 0.8655
Epoch 14/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3313 - accuracy: 0.8633
Epoch 15/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3300 - accuracy: 0.8631
Epoch 16/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3302 - accuracy: 0.8645
Epoch 17/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3265 - accuracy: 0.8683
Epoch 18/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3280 - accuracy: 0.8655
Epoch 19/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3263 - accuracy: 0.8643
Epoch 20/20
800/800 [==============================] - 1s 1ms/step - loss: 0.3267 - accuracy: 0.8692

In [94]:
y_pred=model.predict_classes(x_test)

In [95]:
accuracy_score(y_pred,y_test)

0.8565